@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")  { 
    <text>@Model.Title</text>
} else if (Model.IsClickable) { 
    if (string.IsNullOrEmpty(Model.Description))
    {
        <a href="@Model.Url">@Model.Title</a>
    }
    else
    {
        <a href="@Model.Url" title="@Model.Description">

            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <text><img src="@Model.ImageUrl" style="margin:0 auto; display:block" /></text>
            }  
            @Model.Title
        </a>
    }
} else { 
    <text>@Model.Title</text>
}
