@model Komatsu.Core.Seguridad.Mvc.Models.ViewModel.ConfiguracionViewModel
@using Komatsu.Core.Seguridad.Mvc.Helper
@using Komatsu.Core.Seguridad.Common

<script type="text/javascript" src="@Url.Content("~/Scripts/View/Seguridad.Configuracion.Aplicacion.js")"></script>
@Html.Hidden("Url_Consultar_Aplicacion", Url.Action("Consultar_Aplicacion", "Configuracion"))
@Html.Hidden("Url_Registrar_Aplicacion", Url.Action("Registrar_Aplicacion", "Configuracion"))
@Html.Hidden("Url_Editar_Aplicacion", Url.Action("Editar_Aplicacion", "Configuracion"))
@Html.Hidden("Url_Insertar_Aplicacion", Url.Action("Insertar_Aplicacion", "Configuracion"))
@Html.Hidden("Url_Actualizar_Aplicacion", Url.Action("Actualizar_Aplicacion", "Configuracion"))
@Html.Hidden("Url_ActualizarEstado_Aplicacion", Url.Action("ActualizarEstado_Aplicacion", "Configuracion"))
@Html.Hidden("Url_A_Empresa", Url.Action("A_Empresa", "Configuracion"))

<div class="wrapper">
    <div class="main">
        <div class="form">
            <fieldset>
                <div class="widget fluid">
                    <div class="whead">
                        <h6>
                            Criterios de Búsqueda</h6>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="formRow fluid">
                        <div class="grid6">
                            <div class="grid3">
                                <label>
                                    Empresa :<span class="req"></span></label></div>
                            <div class="grid9" id="A_Div_Empresa">
                                @*@Html.MetaDropDownList(model => model.Empresa.IdEmpresa,
                                new MultiSelectList((System.Collections.IEnumerable)Model.ListaEmpresa, "IdEmpresa", "Nombre",
                                (System.Collections.IEnumerable)Model.ListaEmpresa.Where(model => model.Check).Select(model => model.IdEmpresa)),
                                new
                                {
                                    @id = "A_IdEmpresa",
                                    multiple = "multiple"
                                }) 
                                <script type="text/javascript" language="javascript">
                                    uniformPartialList("A_IdEmpresa");

                                    $(function () {
                                        $("#A_IdEmpresa").multiselect(
                                            {
                                                selectedList: 1,
                                                noneSelectedText: ' Todos '
                                            }
                                        ).multiselectfilter();
                                        $(".ui-multiselect").attr("style", "width: 210px");
                                    });
                                </script>*@
                                @Html.DropDownListFor(model => model.Empresa.IdEmpresa,
                                new SelectList(Model.ListaEmpresa, "IdEmpresa", "Nombre"),
                                @Komatsu.Core.Seguridad.Validation.Globals.Globals.ComboBox_Todos, new
                                {
                                    @id = "A_IdEmpresa",
                                    @onkeypress = "EnterSubmit(event,'BuscarAplicacion');"
                                })
                                <br class="clear" />
                            </div>
                        </div>
                    </div>
                    <div class="formRow fluid">
                        <div class="grid6">
                            <div class="grid3">
                                <label>
                                    Nombre :<span class="req"></span></label></div>
                            <div class="grid9">
                                @Html.TextBoxFor(m => m.Aplicacion.Nombre, new
                                {
                                    @id = "A_NombreAplicacion",
                                    @maxLength = "200",
                                    @class = "textinput",
                                    @onkeypress = "EnterSubmit(event,'BuscarAplicacion');"
                                })
                            </div>
                        </div>
                        <div class="grid6">
                            <div class="grid3">
                                <label>
                                    Descripción :<span class="req"></span></label></div>
                            <div class="grid9">
                                @Html.TextBoxFor(m => m.Aplicacion.Descripcion, new
                                {
                                    @id = "A_DescripcionAplicacion",
                                    @maxLength = "200",
                                    @class = "textinput",
                                    @onkeypress = "EnterSubmit(event,'BuscarAplicacion');"
                                })
                            </div>
                        </div>
                    </div>
                    <div class="formRow noBorderB">
                        <div id="status2" class="status">
                        </div>
                        <div class="formSubmit">
                            @foreach (var PG in Model.ListaPaginaAccionPermiso.FindAll(x => x.Accion.Grupo.IdGrupo.ToString() == Constantes.ConsultarAplicacion))
                            {
                                <button class="buttonS bBlue formSubmit group_button" style="cursor: pointer" id="@PG.Accion.CodigoHTML"
                                name="@PG.Accion.Nombre" type="button" title="@PG.Accion.Etiqueta" onclick="@PG.Accion.Evento">
                                @PG.Accion.Etiqueta</button> 
                            }
                            <div class="clear">
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="widget">
        <div class="whead">
            <div class="whead">
                <span class="titleIcon check"></span>
                <h6>
                    Resultados de Búsqueda</h6>
                <div class="num right">
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div id="Id_Consultar_Aplicacion_Grilla">
        </div>
    </div>
</div>

<div id="dialogGestionarAplicacion" class="j_modal" style="display:none">
</div>

<script type="text/javascript" language="javascript">
    BuscarAplicacion();
    InicioJPopUp("#dialogGestionarAplicacion", 700, 300, true, "Gestionar Aplicación");
</script>
<style type="text/css">
.ui-multiselect-checkboxes{float: left; height: auto; width: 220px;}
</style>